@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

[data-theme="light"] {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 8, 8, 8;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}